.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.employee-management {
  width: 300px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.employee-management h2 {
  text-align: center;
}

.employee-management form {
  display: flex;
  flex-direction: column;
}

.employee-management form div {
  margin-bottom: 10px;
}

.employee-management form label {
  margin-bottom: 5px;
}

.employee-management form input {
  padding: 5px;
  font-size: 14px;
}

.employee-management form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.employee-management form button:hover {
  background-color: #0056b3;
}

.employee-management ul {
  list-style-type: none;
  padding: 0;
}

.employee-management ul li {
  margin-bottom: 5px;
}

.employee-management ul li a {
  color: #007bff;
  text-decoration: none;
}

.employee-management ul li a:hover {
  text-decoration: underline;
}
